/* Add application styles & imports to this file! */
::highlight(combobox-search-result) {
  background-color: yellow;
  color: black;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 100%;
  }
  99% {
    opacity: 100%
  }
  100% {
    opacity: 0;
  }
}
